@import "tailwindcss";

@theme {
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

@theme inline {
  --font-sans: var(--font-portfolio);
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: var(--color-dark-100);
}

@utility slow-transition {
  @apply transition-all duration-500 ease-in-out;
}

/* =========================
   NAVBAR
========================= */

header {
  @apply fixed top-0 z-50 w-full bg-gray-900;

  nav {
    @apply container relative z-[70] mx-auto;
    @apply flex items-center justify-between;
    @apply h-[10vh] px-4;
    @apply lg:h-[8vh] lg:px-2;
  }

  /* =========================
     LOGO
  ========================= */

  #logo {
    @apply scale-100;
    @apply lg:scale-150;
    @apply lg:opacity-50;
    @apply lg:hover:opacity-100;
    @apply lg:slow-transition;
  }

  /* =========================
     MOBILE TOGGLE
  ========================= */

  .nav-toggle {
    @apply z-[70] scale-100;
    @apply lg:hidden;
  }

  /* =========================
     DESKTOP NAVIGATION
  ========================= */

  .nav-tabs {
    @apply hidden;
    @apply lg:absolute lg:left-1/2;
    @apply lg:flex lg:-translate-x-1/2;
    @apply lg:gap-4;
    @apply text-white font-bold;

    a {
      @apply opacity-50;
      @apply hover:opacity-100;
      @apply slow-transition;
    }
  }

  /* =========================
     MOBILE NAVIGATION
  ========================= */

  .nav-box {
    @apply fixed inset-0 z-[60];
    @apply flex w-full h-dvh flex-col;
    @apply gap-4 pt-[12vh] px-10;
    @apply bg-gray-800 ;

    /* Le menu mobile n'existe visuellement
       que sous le breakpoint lg */
    @apply lg:hidden;

    /* On anime uniquement ce qui doit bouger */
    @apply transition-transform duration-700 ease-in-out;

    .nav-link {
      @apply text-2xl font-bold text-white;
    }

    .nav-cta {
      @apply mx-auto mt-2;
      @apply w-fit px-12;

      @apply rounded-3xl bg-white;
      @apply text-center text-2xl font-bold text-black;
    }
  }

  /* =========================
     MOBILE MENU STATES
  ========================= */

  .nav-box-closed {
    @apply -translate-y-full;
    @apply pointer-events-none;
  }

  .nav-box-open {
    @apply translate-y-0;
    @apply pointer-events-auto;
  }
}