@import "tailwindcss";

@theme {
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

@theme inline {
  --font-sans: var(--font-portfolio);
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: var(--color-dark-100);
}

@theme {
  --box-center: flex justify-center items-center;
}
header {
  @apply fixed top-0 z-50 w-full;

  nav {  
    @apply flex justify-between items-center container mx-auto px-2 h-[7vh];
  }
}