@import "tailwindcss";

@theme {
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

@theme inline {
  --font-sans: var(--font-portfolio);
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: var(--color-dark-100);
}

@theme {
  --box-center: flex justify-center items-center;
}

@utility slow-transition {
  @apply transition-all duration-500 ease-in-out;
}

@utility slow-transition-xl {
  @apply transition-all duration-800 ease-in-out;
}

header {
  @apply fixed top-0 z-50 w-full;

  nav {  
    @apply flex justify-between items-center container;
    @apply mx-auto pt-4 px-4 h-[7vh] lg:px-2;

  }

  #logo {
    @apply lg:opacity-50 lg:hover:opacity-100 lg:slow-transition;
    @apply max-md:scale-150 
  }

  .nav-toggle {
    @apply lg:hidden scale-150;
  }

  .nav-tabs {
    @apply hidden lg:flex gap-4 text-white font-bold;

    a {
      @apply opacity-50 hover:opacity-100 slow-transition
    }
  } 

  .nav-box {
    @apply flex flex-col justify-center w-full gap-4 p-4 bg-black fixed top-0 left-0 z-60;
    @apply slow-transition-xl;
  
    .nav-link {
      @apply text-3xl font-bold text-white;
    }

    .nav-cta {
      @apply m-auto mt-4 w-fit py-2 px-20;
      @apply text-3xl font-bold text-black text-center bg-white rounded-3xl;
    }
  }

  .nav-box-closed {
    @apply -translate-y-full pointer-events-none;
  }

  .nav-box-open {
    @apply translate-y-0 pointer-events-auto;
  }

}